/* 1순위 : !important */
.test2 {
    background-color: midnightblue !important;
}

/* 3순위 : id 선택자 */
#test2 {
    background-color: plum;
    color: white;
}

.test2 {
    background-color: skyblue;
    width: 200px;
    height: 200px;
}


/* 4순위 : 클래스 선택자 */
div.test1 {
    background-color: yellow;
    color: #202123;
}


/* 5순위 : 태그 선택자 */
div {
    width: 300px;
    height: 300px;
    background-color: darkblue;
}